###
# Unity folders and files
###

## Frequent
/[Bb]uild/
/[Bb]uilds/
[Tt]emp/

#Useful
Assets/_Project/Preferences/Editor/Credentials/**
Assets/_Project/Preferences/Editor/Credentials.meta
Assets/Temp/**
Assets/Temp.meta
Data/**
[Aa]ssets/AssetStoreTools*
[Ll]ocal[Cc]ache/
[Oo]bj/
[Ll]ibrary/
[Uu]nityGenerated/


# file on crash reports
sysinfo.txt
# Unity3D generated meta files
*.pidb.meta

# Exclude rider idea data
.idea

###
# VS/MD solution and project files
###
[Ee]xportedObj/
*.booproj
*.csproj
*.sln
*.suo
*.svd
*.unityproj
*.user
*.userprefs
*.pidb
.DS_Store

###
# OS generated
###
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
#Icon? # Eliminated because of interference with desired folders / files 
ehthumbs.db
Thumbs.db

# Visual Studio 2015/2017 cache/options directory
.vs/

#ProBuilder
**/com.unity.probuilder/Settings.json
**/com.unity.probuilder/Settings.json~0ec915244e33b2d6f2b6630bd5af0193930197d3

#ParrelSync
/*_clone_[0-9]*/

#FMOD
/FMOD_Project/.*

FMODStudioCache.asset
FMODStudioCache.asset.meta
fmod.log
fmod_editor.log